@model Actor

<h1>@Model.FName @Model.LName</h1>
<h3>Appeared in:</h3>
<ul>
    @{
        foreach(Cast c in Model.ActedIn)
        {
            <li>@c.Movie.Title <a href="/delete/cast/@Model.ActorId/@c.Movie.MovieId">X</a></li>
        }
    }
</ul>
<a href="/actor/delete/@Model.ActorId" class="btn btn-danger">Delete</a>

<form action="/addRole" method="post">
    <div class="form-group">
        <label for="MovieId">Add Movie</label>
        <select name="MovieId" class="form-control col-4">
            @{
                foreach (Movie a in @ViewBag.AllMovies)
                {
                    if(!Model.ActedIn.Any(t => t.MovieId == a.MovieId))
                    {
                        <option value="@a.MovieId">@a.Title</option>
                    }
                }
            }
        </select>
    </div>
    <input type="hidden" name="ActorId" value="@Model.ActorId">
    <input type="submit" value="Add Movie">
</form>