<h2>@ViewBag.oneDish.Name</h2>
<h3>@ViewBag.oneDish.Chef</h3>
<hr>
<p>@ViewBag.oneDish.Description</p>
<p><span font-weight="bold">Calories: </span>@ViewBag.oneDish.Calories</p>
<p><span font-weight="bold">Tastiness: </span>@ViewBag.oneDish.Tastiness</p>
<a class="btn btn-danger" href="/delete/@ViewBag.oneDish.DishId">Delete</a>
<a class="btn btn-light" href="/edit/@ViewBag.oneDish.DishId">Edit</a>
